<a href="https://colab.research.google.com/github/Nishith2001/Machine-Learning/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
df = pd.read_csv("/content/diabetes.csv")
df

     Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]

In [10]:
column_names = ['Pregnancies', 'Glucose', 'BP', 'SkinThickness', 'Insulin','BMI','DBF','Age', 'label']
diabetes_data = pd.read_csv("diabetes.csv", header=None, names= column_names)
diabetes_data.head()

   Pregnancies  Glucose             BP  ...                       DBF  Age    label
0  Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
1            6      148             72  ...                     0.627   50        1
2            1       85             66  ...                     0.351   31        0
3            8      183             64  ...                     0.672   32        1
4            1       89             66  ...                     0.167   21        0

[5 rows x 9 columns]

In [19]:
diabetes_data= diabetes_data.iloc[1:]
diabetes_data.head()

  Pregnancies Glucose  BP SkinThickness Insulin   BMI    DBF Age label
2           1      85  66            29       0  26.6  0.351  31     0
3           8     183  64             0       0  23.3  0.672  32     1
4           1      89  66            23      94  28.1  0.167  21     0
5           0     137  40            35     168  43.1  2.288  33     1
6           5     116  74             0       0  25.6  0.201  30     0

In [28]:
feature_columns = ['Pregnancies', 'Glucose', 'BP', 'SkinThickness', 'Insulin','BMI','DBF','Age'  ]
x= diabetes_data[feature_columns]
y= diabetes_data.label

In [32]:
from sklearn.model_selection import train_test_split
train_x,train_y,test_x,test_y = train_test_split(x,y,test_size=0.2, random_state=0)

In [36]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression(max_iter=1000)

In [37]:
logreg.fit = (train_x,train_y)